body{
  margin: 0px;
  background-color: rgb(27, 27, 27);
}
/*leftSide*/
#leftSide{
  float: left;
  width: 200px;
  height: 100vh;
  border-right:5px solid rgb(73, 73, 73);
  background-color: rgb(46, 46, 46);
}
#avatar{
  width: 158px;
  height: 220px;
  margin: 20px 20px 0px 20px;
  border:1px solid rgb(73, 73, 73);
}
#navigation{
  width: 160px;
  height: 450px;
  margin: 10px 20px;
  border:0px solid rgb(73, 73, 73);
}
.btn{
  float: left;
  width: 160px;
  height: 50px;
  margin: 0px;
  border:0px solid red;
  outline: none;
  color: grey;
  background-color: rgb(46, 46, 46);
}
.btn:hover{
  color: whitesmoke;
  background-color: rgb(27, 27, 27);
}
.btn:active{
  background-color: rgb(95, 0, 0);
}

/*rightSide*/
#rightSide{
}
.content{
  color: whitesmoke;
}